@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background-image: url(bg.jpg);
  background-size: cover;
  background: #113261aa;
}
.btn {
  width: fit-content;
  padding: 10px;
  color: black;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.btn:hover {
  cursor: pointer;
  color: black;
  background-color: #ffffff8a;
}
.btn-danger {
  padding: 2px 9px;
  /* background-color: #fe5d5d; */
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px inset;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  &:hover {
    color: #fff;
    background-color: #f72525;
    cursor: pointer;
  }
}
header h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px -2px 0px rgba(255, 208, 208, 0.606);
  margin-top: 2rem;
  
}
main {
  width: 60%;
  margin: 1rem auto;
  margin-bottom: 10rem;
  background: #ffffff39;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.parent-container {
  /* filter: blur(10px);
    -webkit-filter: blur(10px); */
  padding: 1rem;
}

.input-container {
  width: 100%;
  padding: 0.6rem 1rem;
  background-color: #00000058;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  & input[type="text"] {
    width: 100%;
    padding: 0 15px;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

    &::placeholder {
      color: #bee6ecbb;
      font-size: 15px;
    }
    &:focus {
      color: #ffffff;
    }
    &:focus-visible {
      outline: none;
    }
  }
}

.progress-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.progress-left {
  width: 100%;
  background-color: #00000058;
  align-self: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  & p {
    color: #fff;
    padding-top: 10px;
    font-size: 14px;
  }
}
.bar,
.progress {
  width: 100%;
  height: 14px;
  background: #000000aa;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.progress {
  width: 80%;
  background: #fff;
}

.progress-right {
  width: 10rem;
  aspect-ratio: 1;
  background-color: #00000058;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  & .progress-circle {
    width: 70%;
    aspect-ratio: 1;
    background: #000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.task-container {
  width: 100%;
  background: #eaeaea6f;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-bottom: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.task-menu {
  & ul {
    display: flex;
    gap: 1rem;
    padding: 0.4rem 1rem;
    & .menu {
      font-size: 18px;
      list-style: none;
      padding: 4px 10px;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;

      &:hover,
      &.active {
        cursor: pointer;
        background: #0000008a;
        color: #fff;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
      }
    }
  }
}

.task-todoes {
  width: 100%;
  height: 100%;
  padding: 10px 1rem;
}
.todo {
  width: 100%;
  /* padding: 10px 1rem; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  & .message {
    text-align: center;
    font-size: 14px;
    color: #030101;
    padding: 10px;
    border: 2px solid rgb(43, 33, 33);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  & li {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    list-style: none;
    color: #100f0f;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
      rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.completed span{
  display: none;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
footer{
  width: 100%;
  position: relative;
  margin-top: 3rem;
}
.copyright {
  width: 100%;
  color: #fff;
  background: #0000007d;
  display: flex;
  justify-content: space-between;
  position:fixed;
  bottom: 0;
  padding: 1rem;

  & h3 {
    font-size: 16px;
  }
  & .social {
    display: flex;
    gap: 1rem;
  }
  & .fa-brands {
    color: #fff;
    background-color: #00000058;
    padding: 12px;
    font-size: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    &:hover {
      background-color: #000000a5;
    }
  }
}
@media (width<870px) {
  main {
    width: 90%;
  }
  .copyright {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
